@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffffee;
  
  /* Your color palette */
  --primary: #e11e1e;
  --primary-foreground: #ffffff;
  --secondary: #8b5cf6;
  --secondary-foreground: #ffffff;
  --accent: #10b981;
  --accent-foreground: #ffffff;
  --muted: #f3f4f6;
  --muted-foreground: #6b7280;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  /* Map your colors to Tailwind */
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-raleway: var(--font-raleway);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    

    --primary: #60a5fa;
    --secondary: #a78bfa;
    --accent: #34d399;
    --muted: #1f2937;
    --muted-foreground: #9ca3af;
  }
} */

body {
  font-family: var(--font-manrope);
}